/* Containers need 100% height for the main flex column */
html,
body,
#root {
  height: 100%;
}

/* Font */
body {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  color: grey;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid grey;
}

.navbar-brand,
.navbar-brand:focus,
.navbar-brand:hover {
  color: grey; /* Override default navbar link colour */
  font-size: 1.5rem;
}

main .container {
  text-align: center;
}

main h1 {
  font-size: 3rem;
  font-weight: 600;
}

main p {
  font-size: 1.3rem;
  font-weight: 400;
}

main button {
  border: 1px solid grey;
  background-color: white;
  color: grey;
  padding: 0.8rem;
  font-size: 1.3rem;
}

footer {
  background-color: white;
  border-top: 1px solid grey;
}

footer .container {
  text-align: center;
}
